body{
    background-color: lightgray;
    font-family:Georgia, serif;
    text-align: center;

}
h1{
    color:red;
    border-style: double;

}
h2{
    color:darkgreen;
}
div.ol{
    display: inline-block;
    background-color: darkgray;
    width:500px;
}
ul.myUL{
    display: inline-block;
    text-align:left;
}
ol.myOL{
    display: inline-block;
    text-align:left;
}
div.contact{
    display: inline-block;
    width:500px;
    background-color: orange;
}
footer{
    text-align: left;
}